body {
    width: 80vw;
    margin: 0 auto;
    padding: 0;
}


.entry {
    padding: 20px;
    background-color: #33393e;
    color: white;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 15px;
}